@ua_deny {
    header User-Agent curl*
    header User-Agent *ython-*
    header User-Agent *Google*
    header User-Agent *Bing*
    header User-Agent *Slurp*
    header User-Agent DuckDuck*
    header User-Agent *Yandex*
    header User-Agent *Baidu*
    header User-Agent Sogou*
    header User-Agent *Exabot*
    header User-Agent *Konquerer*
    header User-Agent *archive*
    header User-Agent *facebo*
    header User-Agent *domainsproject*
    header User-Agent *Android*
    header User-Agent *Wget*
    header User-Agent *sucuri*
    header User-Agent *SafeSearch*
    header User-Agent *Nmap*
    header User-Agent *massscan*
    header User-Agent *project*
    header User-Agent *mfibot*
    header User-Agent *ltx71*
    header User-Agent *Comodo*
    header User-Agent *Errata*
    header User-Agent *virustotal*
    header User-Agent *sqlmap*
    header User-Agent *nikto*
    header User-Agent *Censys*
}
